*{margin: 0; padding: 0;}

h2{
    text-align: center;
    margin: 0;
    padding: 1em 0;
    font-size:30px;
}

h3{
    text-align: center;
    color:#1C1C1C;
}

p{
    color:#1C1C1C;
    margin: 0;
    font-family: Helvetica;
    padding: 0 2em 0 2em;
    font-size: 20px;

}

.header{
    min-height:100px;
    border-top: 0;
    right: 0;
    left: 0;

}

#principal{
    font-family: sans-serif, Arial, Helvetica;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

#gradient{
    background-image: linear-gradient(to right, #ccabd8 , #86e3ce);
}

nav{
    position:absolute;
    right:0;
    left:0;
}

.menu{
    position: absolute;
    left:0;
    right:0;
    list-style: none;
    border: 1px solid #c0c0c0;
}

.menu ul{

   list-style: none;
}

.menu li{
    position: relative;
    float:left;
    border-right: 1px solid #c0c0c0;
    width:auto;
}

.menu li a{
    color:#333;
    text-decoration:none;
    padding:10px 20px;
    display:block;
}

.menu li a:hover{
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.menu li ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
    z-index:1;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}

.container-a, .container-c{
    margin-top:40px;
    left:0;
    right:0;
    min-height:200px;
    background-color:#DCDCDC;
    padding:2em;
}

.container-c{
    margin-top:0;
}

.container-b{
    left:0;
    right:0;
    height:400px;
    clear: left;
    background-color:#836FFF;
    padding: 0 1.5em;
    padding-bottom: 2em;
    text-align:center;
}

.box{
    padding: 2em;
    color: #fff;
    grid-column: span 2;
}
  @media (min-width: 700px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

footer{
    padding: 2em;
    background: #000;
    color: #fff;
    text-align: center;
}

form{
    margin-left:30%;
    margin-right:30%;
}

fieldset {
    background-color: #eeeeee;
    padding:10px;
}

legend {
    font-size: 20px;
    background-color: gray;
    color: white;
    padding: 5px 10px;
    margin: 5px;
}

input {
  margin: 10px;
}

button{
    width:70px;
    height: 30px;
}